<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indexht</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type="text/css" href="new-user.css">
    <script src="/scripts/file-preview.js" defer></script>
</head>
<body>
<main>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <label class="lb" for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </li>
            <li>
                <image src="" alt="Your picked image" id="image-preview">
                <label class="lb" for="userimage">User image</label>
                <input type="file" id="userimage" name="userimage" required accept=".jpg,.png,.jpeg">
            </li>
        </ul>
        <button>Save User</button>
    </form>
</main>
</body>
</html>