body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    background-color: white;
    padding: 0.04rem 2rem;
    box-shadow: 1px 1px 2px 2px rgb(209, 205, 196);
    width: 18%;
    border-radius: 0.3rem;
    margin: 1rem auto;
}
ul{
    position: relative;
    left: -2.2rem;
    list-style: none;
}
ul input{
    width: 130%;
        margin: 0 0 0.4rem -0.9rem;
        padding: 0.2rem 0;
        outline: none;
        border-radius: 0.3rem;
        border: 1px solid gray;
}
ul label{
    margin: 0.18rem 0 0.18rem -0.9rem;
}
ul li{
    padding-top: 0.05rem;
}
form button{
        background-color: rgb(78, 67, 235);
        border-radius: 0.3rem;
        color: white;
        padding: 0.3rem 0.6rem;
        border: none;
        position: relative;
        top: -1rem;
        margin: 0 0 0 -0.9rem;
}
#image-preview{
    height: 250px;
    object-fit: cover;
    display: none;
}